body {
    background-color: white;
  }
  
  

  * {
    font-family: Arial, sans-serif;
  }

  nav a {
    padding: 0 10px;

    display: flex;
  justify-content: center;
  }

  header h1 {

    text-align: center;
  }